.root {
    padding: 15px;
}
.root h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blogDetailsRoot {
    display: flex;
    margin-top: 25px;
}
.blogDetailsContent {
    width: 70%;
    display: block;
    overflow: hidden;
}
.blogSidebar {
    width: 30%;
    min-width: 220px;
    padding-inline-start: 25px;
}
.blogpostImage {
    width: 90%;
    margin: 20px auto;
    display: block;
}
.blogpostImage:hover {
    box-shadow: 0px 5px 15px -5px;
    transition: box-shadow 0.3s ease-in-out;
}
.blogPostRichContent {
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 22px;
}
.blogPostRichContent h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blogPostRichContent img {
    max-width: 100%;
}
@media (max-width: 1023px) {
    .blogDetailsRoot {
        flex-wrap: wrap;
    }
    .blogDetailsContent {
        width: 100%;
    }
    .blogSidebar {
        width: 100%;
    }
}
.blogDetailsPostInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
    padding: 20px;
}
.blogpostInfo {
    font-size: 13px;
}
.calendarIcon,
.authorIcon,
.eyeIcon,
.calendarData,
.authorName {
    margin-inline-end: 5px;
    margin-inline-start: 5px;
}
